<div class="container mt-3">
  <div class="pt-3 pb-3">
    <h4 class="text-center display-5 mb-4">All Articles</h4>
    <p class="text-center mt-3"><%= link_to 'Create A New Article', new_article_path, class: "btn btn-danger" %></p>

    <%= render 'article' %>
    
  </div>
</div>