<div class="container mt-5">
  <div class="pt-3 pb-3">
    <h4 class="text-center display-5 mb-4">Create An Account</h4>
    
    <%= render 'form' %>
    
    <div class="text-center mb-3">
      <%= link_to "[ Return to Articles Listing ]", articles_path, class: "text-muted" %>
    </div>
  </div>
</div>