<div class="container mt-5">
  <div class="pt-3 pb-3">
    <h4 class="text-center display-5 mb-4">View <%= @user.username %>'s Profile</h4>
    
    <%= gravatar_for @user, size: 200 %>
    
    <div class="text-center mt-4 mb-4">
      <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-danger" %>
    </div>
    
    <h5 class="text-center display-5 mt-4 mb-4">Articles</h5>
    
    <%= render 'articles/article' %>
    
  </div>
</div>