<div class="container mt-5">
  <div class="jumbotron home">
    <div class="jumbotron overlay">
      <h1 class="display-4 text-center">Alpha Blog</h1>
      <p class="lead text-center">Sample blog site to introduce myself to Ruby on Rails!</p>
      <hr class="my-4">
      <div class="text-center">
        <p>If you're interested in viewing the articles created using this system, click on the <b>Read More</b> button below.</p>
        <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg btn-danger" %>
        <%= link_to "Read More", articles_path, class: "btn btn-primary btn-lg btn-secondary" %>
      </div>
    </div>
  </div>
</div>