@import 'bootstrap/dist/css/bootstrap';

.navbar { background-color: #000 !important; }
.navbar-brand, .nav-link { color: #fff !important; }
.navbar-brand { text-transform: uppercase; }
.jumbotron.home {
    background-image: asset-url('home-jumbotron');
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.jumbotron.overlay { background-color: rgba(0,0,0,.5); }
.jumbotron.home h1, .jumbotron.home p { color: #fff; }

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  background-color: #ddd;
  flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

/* Styling for Pagination */
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: normal;
    color: #fff;
    background-color: #990000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    }
  .apple_pagination a {
    text-decoration: none;
    color: black;
    padding: 5px;
    }
    .apple_pagination a:hover, .apple_pagination a:focus {
      background: #ff0000;
      color: #fff; text-decoration: none; padding: 5px; border-radius: 5px;  }